/*
---------------
DOC DEFAULTS
---------------
*/

* {
	margin: 0;
	padding: 0;
}

html,body {
    color: #f2f2f2;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667rem;
    background-color: #F2F2F2;
    box-sizing: border-box;
    margin-top: 10px;
}

/*
---------------
TYPOGRAPHY
---------------
*/

.car-section-title {
    order: 2;
    line-height: 3.2rem;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.667rem;
    margin-top: 2.333rem;
}

.car-copy {
    order: 3;
    margin: 1.667rem 0 1.667rem 0;
    color: #f2f2f2;
    font-size: 1rem;
    opacity: .75;
}

/*
---------------
MAIN LAYOUT
---------------
*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.car-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21.8rem;
    height: 88.4rem;
    border-radius: 0.533rem;
}

.border-top {
    border-top-left-radius: 0.533rem;
    border-top-right-radius: 0.533rem;
}

.border-bottom {
    border-bottom-left-radius: 0.533rem;
    border-bottom-right-radius: 0.533rem;
}

.sedans,
.suvs,
.luxury {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
}

.sedans {
    background-color: #E28625;
}

.suvs {
    background-color: #006971;
}

.luxury {
    background-color: #004140;
}

.learn-more-btn {
    order: 4;
    height: 3.2rem;
    width: 9.733rem;
    background-color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    line-height: 1.667rem;
    border-radius: 1.667rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sedans-btn-version {
    color: #E28625;
}

.suvs-btn-version {
    color: #006971;
}

.luxury-btn-version {
    color: #004140;
}

.learn-more-btn:focus,
.learn-more-btn:active,
.learn-more-btn:hover {
    background-color:  hsla(0, 0%, 0%, 0);
    cursor: pointer;
    outline: solid #F2F2F2;
    color: #F2F2F2;
}

.luxury-car-icon {
    order: 1;
    height: 2.667rem;
    width: 4.267rem;
}

/*
---------------
MEDIA QUERIES
---------------
*/

@media(min-width: 1200px){
    html, body {
        padding: 0;
    }

    .car-preview {
        flex-direction: row;
        width: 61.333rem;
        height: 33.333rem;
    }

    .border-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .border-bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .border-left {
        border-top-left-radius: 0.533rem;
        border-bottom-left-radius: 0.533rem;
    }

    .border-right {
        border-top-right-radius: 0.533rem;
        border-bottom-right-radius: 0.533rem;
    }

    .car-copy {
        margin-bottom: 5.533rem;
    }
}